{% import "_includes/forms" as forms %}

<h1>Universal DAM Integrator</h1>
<h2>Settings</h2>

<p class="notice with-icon">All of the below fields can be set with environment variables, just ensure they are preceded with a '$', e.g.: "$DAM_APP_ID"</p>

{{ forms.autosuggestField({
    first: true,
    label: "App ID",
    name: 'appId',
    value: settings.appId,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    first: true,
    label: "Secret Key",
    name: 'secretKey',
    value: settings.secretKey,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: "Authentication Endpoint",
    name: 'authEndpoint',
    value: settings.authEndpoint,
    suggestEnvVars: true
}) }}
<p>If the app ID or secret key is needed in the URL include it as <strong>{appId}</strong> or <strong>{secretKey}</strong> with no spaces.</p>

{{ forms.autosuggestField({
    label: "Retrieve One Asset Endpoint",
    name: 'retrieveAssetMetadataEndpoint',
    value: settings.retrieveAssetMetadataEndpoint,
    suggestEnvVars: true
}) }}

<div class="field">
    <div class="heading">
        <label>Select the Volume to Use as the DAM Interface</label>
    </div>
    {{
        forms.select({
            label: "Select the Volume to Use as the DAM Interface",
            name: "damVolume",
            options: settings.getVolumes(),
            value: settings.damVolume
        })
    }}
</div>

{# <br> #}
{# <h3>Mass Synchronization</h3> #}

{# <form id="craftid-dam-mass-sync" method="post"> #}
    {# {{ csrfInput() }} #}
    {# {{ actionInput('universal-dam-integrator/mass-sync') }} #}
    {# <div class="ssl-status light" title="{{ craft.app.request.isSecureConnection ? "Your connection is secure"|t('app') : "Your connection is insecure"|t('app') }}" aria-label="{{ craft.app.request.isSecureConnection ? "Your connection is secure"|t('app') : "Your connection is insecure"|t('app') }}">
        <i class="{{ craft.app.request.isSecureConnection ? "secure" : "insecure" }} icon"></i>
    </div> #}
    {# {{ forms.textareaField({
             label: 'List of DAM IDs',
             id: 'damIds',
             class: 'nicetext',
             name: 'damIds',
             value: 'damIds',
             placeholder: "Copy/paste the list of DAM IDs separated by a line break"
     }) }} #}
    {# <a onclick="document.getElementById('craftid-dam-mass-sync').submit();">{{ 'Synchronize'}}</a>
</form> #}

