{% import "_includes/forms" as forms %}

{# {% set retrievedElement = "blah" %} #}
{% set authToken = "blah" %}

<h1>Universal DAM Integrator</h1>
<h2>Settings</h2>

{{ forms.textField({
    first: true,
    label: "DAM Volume Display Name",
    name: 'volumeDisplayName',
    value: settings.volumeDisplayName
}) }}

{{ forms.textField({
    first: true,
    label: "API Key",
    name: 'apiKey',
    value: settings.apiKey
}) }}

{{ forms.textField({
    label: "Authentication Endpoint",
    name: 'authEndpoint',
    value: settings.authEndpoint
}) }}

{{ forms.textField({
    label: "Retrieve All Assets Endpoint",
    name: 'retrieveAllAssetsEndpoint',
    value: settings.retrieveAllAssetsEndpoint
}) }}

{{ forms.textField({
    label: "Retrieve One Asset Endpoint",
    name: 'retrieveOneAssetEndpoint',
    value: settings.retrieveOneAssetEndpoint
}) }}



<button onClick="{% do craft.metaSave.testMetaSave() %}" class="btn">Test Meta Save</button>
<button onClick="{% set authToken = craft.metaSave.testAuth() %}" class="btn">Test Auth Token Retrieval</button>
{# <button onClick="{% set retrievedElement = craft.metaSave.testAssetQuery() %}; return false;" class="btn">Test Meta Query</button> #}

<div>Retrieved Asset's JSON: {{ authToken }}</div>
{# <div>Retrieved Asset's Filename: {{ retrievedElement }}</div> #}